* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*Ajustando a margim(margem) e o padding(preenchimento) para 0 para toda a pagina 
  
    O box-sizing border box usa a borda da caixa como medida*/
}
/*Modo Dark*/
:root {
  --text-color: white;
  --bg-url: url(./assets/assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/assets/moon-stars.svg);
}
/*Modo light*/
.light {
  --text-color: black;
  --bg-url: url(./assets/assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.05);
  --highlight-color: rgba(0, 0, 0, 0.2);
  --switch-bg-url: url(./assets/assets/sun.svg);
}
/*Quando criei uma classe isso abriu a possibilidade de trabalhar com as variáveis o que faz com que eu coloque os valores em cada classe e quando mudar de classe os valores serão aplicados nos devidos lugares que eu estabeleci em cada classe usando o codigo 
--nome da variável: valor e no codigo
 código: var(o nome da variável a ser aplicada)*/
body {
  /*background-image: url(./assets/assets/bg-mobile.jpg);
    -Aqui foi adicionado uma imagem de fundo-
  
    background-repeat: no-repeat;
    -Aqui por padrão a imagem se repete então essa propriedade tira a repetição-
  
    background-position: top center;
    -Aqui reposicionou a imagem no centro tendo o topo da imagem com o topo da viewport-
 
    background-size: cover;
    -Aqui colocamos a imagem para preencher a tela inteira-
  
    todas as funções foram agrupadas em uma unica linha de código a baixo*/
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}
body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
  /*Estabelecendo essa font inter como padrão*/
}
#container {
  width: 100%;
  max-width: 588px;
  /*largura da caixa é de 100% para dispositivos menores e vai até 588px em dispositivos maiores*/
  border: 1px solid blue;
  /*margin-right: auto;
    margin-left: auto;
    height: 712px;*/
  margin: 56px auto 0px;
  /*Existe um espaço vazio e ao usar a propriedade "margin" dividimos o espaço para os a direita e esquerda fazendo com que o container fique ao centro 56px a parte de cima e 0px a parte de baixo*/
  padding: 0px 24px;
}
/*Profile*/
#profile {
  text-align: center;
  /*usando a colocando uma propriedade no pai para alinhar os elementos ao meio*/
  border: 1px solid red;
  padding: 24px;
}

#profile img {
  width: 112px;
  /*A imagem por padrão tem o display inline ou seja não tem como alinhar ao centro usando o margin auto, mas tem formas de se alinhar a primeira é forçar o display block ou usar o pai dela pra alinhar todos os elementos ao centro
  
    Display block pega todo o espaço pro elemento
    Display inline coloca os elementos numa mesma linha*/
}

#profile p {
  font-weight: 500;
  /*Colocando o peso 500 na fonte inter*/
  line-height: 24px;
  margin-top: 8px;
}
#switch {
  border: 1px solid purple;
  position: relative;
  width: 64px;
  margin: 4px auto;
}
#switch button {
  width: 32px;
  height: 32px;
  background: white var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
}
.light #switch button {
  right: 0;
  left: initial;
  /*Esse código é usado pra movimentar o button ao trocar a classe*/
}
#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}
/*links*/

ul {
  list-style: none;
  /*Tira os pontinhos/estilo da lista*/
  display: flex;
  /*Diferente do display block que ocupa todo o espaço possível e do display inline que coloca tudo numa linha o display flex ajusta os elementos para que caibam dentro da caixa*/
  flex-direction: column;
  /*Coloca os elementos em coluna*/
  gap: 16px;
  /*Da espaço entre os itens*/
  padding: 24px 0;
}

ul li a {
  border: 1px solid green;
  display: flex;
  justify-content: center;
  /*Alinhando os elementos ao centro. se o display for block e for colocado alin-text center funciona também*/
  align-items: center;
  /*alinha a altura do texto ao centro*/

  padding: 16px 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;
  /*Arredondamento de borda*/

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  /*Isso é pra dar suporte ao Safari e outros brosers o efeito de blur*/

  text-decoration: none;
  /*Tirar as linhas de baixo mas tem o underline e o overline*/
  font-weight: 500;
  /*Aqui é a grossura da fonte*/

  transition: background 0.3s;
  /*Coloca uma transição de 5s para i hover*/
}

/*Pseudo-selector: propriedade que se altera ao passar o mouse por cima*/
ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/*Social links*/

#social-links {
  display: flex;
  padding: 24px 0;
  font-size: 24px;
  /*O font-size aumenta o tamanho dos icones*/
  justify-content: center;
}
#social-links a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;

  transition: background 0.3s;
  border-radius: 50%;
}
#social-links a:hover {
  background: var(--highlight-color);
}
footer {
  padding: 24px;
  text-align: center;
  font-size: 14px;
}
/*media queries*/
@media (min-width: 700px) {
  /*Aqui é uma adaptação do background para dispositivos maiores*/
  :root {
    --bg-url: url(./assets/assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./assets/assets/bg-desktop-light.jpg);
  }
}
